<div class="container fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="col-md-12 prodWrapper">
        <div class="row">
          <div class="col-md-3 imgProd">
            <img src="/assets/product/cosedora.jpg" alt="" class="img-responsive">
          </div>
          <div class="col-md-9 ">
            <div class="tituloProd">Cosedora</div>
            <div class="infoProd">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <div class="row">
              <div class="col-md-6">
                <div class="priceProd">$45.000</div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <button>-</button>
                  </div>
                  <div class="col-md-4">
                    <input class="col-md-12" type="number">
                  </div>
                  <div class="col-md-4">
                    <button>+</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 prodWrapper">
        <div class="row">
          <div class="col-md-3 imgProd">
            <img src="/assets/product/cosedora.jpg" alt="" class="img-responsive">
          </div>
          <div class="col-md-9 ">
            <div class="tituloProd">Cosedora</div>
            <div class="infoProd">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <div class="priceProd">$45.000</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 prodWrapper">
        <div class="row">
          <div class="col-md-3 imgProd">
            <img src="/assets/product/cosedora.jpg" alt="" class="img-responsive">
          </div>
          <div class="col-md-9 ">
            <div class="tituloProd">Cosedora</div>
            <div class="infoProd">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <div class="priceProd">$45.000</div>
          </div>
        </div>
      </div>
    </div>

    <!--resumen de la compra-->
    <div class="col-md-3">
      <div class="col-md-12 resumeWrap">
        <a href="" class="">Comprar</a>
      </div>
    </div>

  </div>
</div>